# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Env
.env
.env.local

# DB
*.db
*.sqlite
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
dist/
build/

# Editor
.vscode/
.idea/
.DS_Store
